{% load wagtailcore_tags wagtailimages_tags wagtailmarkdown blog_sanitize %}
{# Reusable template include for rendering a single block #}
{% if block.block_type == 'markdown' %}
    <div class="markdown-content">
        {{ block.value|markdown }}
    </div>
{% elif block.block_type == 'paragraph' %}
    <div class="rich-text">
        {{ block.value|richtext }}
    </div>
{% elif block.block_type == 'heading' %}
    <h2>{{ block.value }}</h2>
{% elif block.block_type == 'image' %}
    {% with caption=block.value.caption %}
        {% image block.value.image width-1200 as img %}
        <figure class="post-image">
            <img
                src="{{ img.url }}"
                alt="{{ caption|default:block.value.image.title }}"
                width="{{ img.width }}"
                height="{{ img.height }}"
                loading="lazy"
                decoding="async"
            >
            {% if caption %}
                <figcaption>{{ caption }}</figcaption>
            {% endif %}
        </figure>
    {% endwith %}
{% elif block.block_type == 'code' %}
    <figure class="code-block">
        <figcaption>
            <span>{{ block.value.language|default:"code" }}</span>
            <button type="button" data-code-copy>copy</button>
        </figcaption>
        <pre><code class="language-{{ block.value.language }}">{{ block.value.code }}</code></pre>
    </figure>
{% elif block.block_type == 'raw_html' %}
    {{ block.value|sanitize_html }}
{% elif block.block_type == 'quote' %}
    <blockquote>{{ block.value }}</blockquote>
{% elif block.block_type == 'glossary' %}
    {% include "blog/blocks/glossary_block.html" with value=block.value %}
{% elif block.block_type == 'takeaway' %}
    {% include "blog/blocks/takeaway_block.html" with value=block.value %}
{% elif block.block_type == 'applet_embed' %}
    {% include "blog/blocks/applet_embed_block.html" with value=block.value %}
{% elif block.block_type == 'collapsible' %}
    {% include "blog/blocks/collapsible_block.html" with value=block.value %}
{% endif %}
